@page "/Guide"


<div class="bgImg">
    <section class="py-4 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto">
                <div class="d-flex flex-row justify-content-center"><h1 class="fw-light">Idébank guide</h1></div>
                <div class="float-container">
                  <p class="fs-5 py-1">Introtekst</p>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="py-5 bg-light">
  <div class="container p-0">
    <AuthorizeView>
      <Authorized>
          @if (!IsEditing)
          {
            <button class="btn btn-primary m-2" @onclick="EditGuideText">Redigér</button>
          }
      </Authorized>
    </AuthorizeView>
    <EditForm Model="@SettingsGuideText" OnValidSubmit="@HandleValidEdit">
      <h3 class="text-center">Idébankens formål</h3>
      @if (IsEditing)
      {
        <InputTextArea class="form-control" rows="3" maxlength=1500 @bind-Value="SettingsGuideText.Purpose"></InputTextArea>
      }
      else if (SettingsGuideText != null)
      {
        <p class="text-center mb-5">@((MarkupString)SettingsGuideText.Purpose)</p>
      }
      else
      {
        <p class="text-center mb-5">indlæser</p>
      }
      <div class="row">
        <div class="col-sm">
          <h3 class="text-center">Forsiden</h3>
          @if (IsEditing)
          {
            <InputTextArea class="form-control" rows="3" maxlength=1500 @bind-Value="SettingsGuideText.HomepageGuide"></InputTextArea>
          }
          else if (SettingsGuideText != null)
          {
            <p>@((MarkupString)SettingsGuideText.HomepageGuide)</p>
          }
        </div>
        <div class="col-sm">
          <h3 class="text-center">Indsend idé</h3>
          @if (IsEditing)
          {
            <InputTextArea class="form-control" rows="3" maxlength=1500 @bind-Value="SettingsGuideText.SubmitGuide"></InputTextArea>
          }
          else if (SettingsGuideText != null)
          {
            <p>@((MarkupString)SettingsGuideText.SubmitGuide)</p>
          }
        </div>
      </div>
      @if (IsEditing)
      {
        <button type="submit" class="btn btn-primary m-2">Gem</button>
      }
    </EditForm>
  </div>
    <section class="py-5 text-center container">
        <div class="col-lg-6 col-md-6 mx-auto">
            <NavLink class="btn btn-lg btn-primary my-1 p-3 rounded-cos" href="/">Tilbage</NavLink>
        </div>
    </section>
</section>